<div class="bodyContainer">
    <div class="loginContainer">
        <p class="loginText">Login</p>
        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()" autocomplete="off">
            <app-text-input class="registrationInput" [formControl]="$any(loginForm.controls['email'])"
                [label]="'Email'"></app-text-input>
            <app-text-input class="registrationInput" [formControl]="$any(loginForm.controls['password'])"
                [label]="'Password'" [type]="'password'"></app-text-input>

            <div class="row" *ngIf="validationErrors">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
</div>