<div class="pagesContainer">
    <div class="profileDetails">
        <div class="profileLeft">
            <div class="profileImage">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
            </div>
            <p>John Doe</p>
        </div>
    </div>

    <tabset #staticTabs class="tabovi">
        <tab heading="Static title" class="tabKlasa">Static content</tab>
        <tab heading="Static Title 1" class="tabKlasa">Static content 1</tab>
        <tab heading="Static Title 2" class="tabKlasa">Static content 2</tab>
        <tab heading="Static Title 3" class="tabKlasa">Static content 3</tab>
    </tabset>
</div>