<div class="pagesContainer">
    <div class="profileDetails">
        <div class="profileLeft">
            <app-profile-image [user]="user" [size]="150"></app-profile-image>
            <p>{{ userFullName }}</p>
            <p>{{ user?.email }}</p>
            <p>Role: {{ userRole }}</p>
        </div>
    </div>

    <tabset #profileTabs class="tabovi">
        <tab heading="About" class="tabKlasa" (selectTab)="onTabActivated($event)">

        </tab>

        <tab heading="Photos" class="tabKlasa" (selectTab)="onTabActivated($event)">
            <app-photo-editor [inputUser]="user" class="photoEditor"></app-photo-editor>
        </tab>

        <tab heading="Messages" class="tabKlasa" (selectTab)="onTabActivated($event)"
            *ngIf="user?.email !== currentUser?.email">
            <app-profile-messages [email]="user?.email"></app-profile-messages>
        </tab>
    </tabset>
</div>