<div class="bodyContainer">
    <div class="heroSection">
        <p class="heroText">
            Kodiramo vase ideje u stvarnost,
            korak po korak, liniju po liniju,
            stvarajuci softver koji transformise vasu viziju u 
            funkcionalnost.
        </p>

        <div class="registration">
            <p class="registrationText">Zelite da saradjujete sa nama?</p>
            <p class="registrationText blue">Registrujte se vec sada!</p>
            <form action="#" class="registrationForm">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="text" placeholder="Company name">
                <input type="text" placeholder="Company address">
                <input type="text" placeholder="Phone number">
                <input type="text" placeholder="Web address">
                <button>Register</button>
            </form>
        </div>
    </div>
</div>
